.btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:10px 16px;
    border-radius: 8px;
 
}

//Button Paddings
.big-btn-padding{
    padding:14px 24px;
    width:222px;
}

//Button Colours
.primary-btn{
    background: $primary;
    border:1px solid $primary;
    color:$white;
}

//Large Screen
@media screen and (max-width:1440px){ 
  
}

//Medium-Large Screen
@media screen and (max-width:1280px){ 
    .btn{
        padding:8px 14px;
    }
  
}

//Medium Screen
@media screen and (max-width:1000px){ 
  
}
//Tablet Screen
@media screen and (max-width:786px){
  
}