.btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:8px 16px;
    border-radius: 8px;
    gap:8px;
    cursor: pointer;
}

.weird-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:8px 16px;
    border:1px solid $primary;
    flex-direction: row;
    border-radius: 24px 24px 8px 8px;
    .arrow-rotate{
        transition: all 0.2s ease;
    }
    &:hover{
        .arrow-rotate{
            transform:rotate(-45deg);
            -ms-transform: rotate(-45deg); /* IE 9 */
            -webkit-transform: rotate(-45deg);
            transition: transform 0.2 ease;
        }
    }
}

//Button Paddings
.big-btn-padding{
    padding:14px 24px;
    width:222px;
}

//Button Colours
.primary-btn{
    background-color: $primary;
    border:1px solid $primary;
    color:$white;
}
.secondary-btn{
    background: $secondary;
    border:1px solid $secondary;
    color:$white;
}
.transparent-orange-btn{
    background: $white;
    border:1px solid $offWhitePrimary;
    border-radius: 8px;
    padding:8px 16px;
}

//Large Screen
@media screen and (max-width:1440px){ 
  
}

//Medium-Large Screen
@media screen and (max-width:1280px){ 
    .btn{
        padding:8px 14px;
    }
  
}

//Medium Screen
@media screen and (max-width:1050px){ 
    .btn{
        padding:8px 10px;
    }
  
}
//Tablet Screen
@media screen and (max-width:786px){
    .big-btn-padding{
        padding:8px 12px;
        width:138px;
    }
    // .btn{
    //     padding:16px;
    // }
}
//Mobile Screen
@media screen and (max-width:368px){
    // .btn{
    //     padding:16px;
    // }
}