@tailwind base;
@tailwind components;
@tailwind utilities;
@import './components/variables';
@import './common/background';
@import './common/font';
@import './common/decorations';


@layer components {
  .page-spacing {
    @apply px-[20px] lg:px-[128px]  flex flex-col justify-center;
  }
  .active-path{
    @apply text-color-primary font-medium border-solid border-b-[1px] border-[#B42318]
  }
}
  //Scrollbar
// ::-webkit-scrollbar{
//   width:8px;
// }
// ::-webkit-scrollbar-thumb {
//   background: $lightGray;
  
//   border-radius: 8px;
// }
// ::-webkit-scrollbar{
//   width:4px;
// }
// ::-webkit-scrollbar-thumb {
//   background: $lightGray;
//   // background-clip: padding-box;
//   border-radius: 8px;
// }
// .horizontal-scroll-div{
//   ::-webkit-scrollbar{
//     width:1px;
//   }
//   ::-webkit-scrollbar-thumb {
//     background: $lightGray;
//     background-clip: padding-box;
//     border-radius: 8px;
//   }
//   ::-webkit-scrollbar-track {
//    background: transparent;
//   }
// }

.scroll-body{
   ::-webkit-scrollbar{
    width:1px;
  }
  ::-webkit-scrollbar-thumb {
    background: $lightGray;
    background-clip: padding-box;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
   background: transparent;
  }
}

body{
  font-family: $primaryFont;
  color:$primaryTextColor;


}
.select-box{
  appearance: none;
  border:1px solid $offWhitePrimary;
  border-radius:8px;
  padding:16px 8px;
  &:not([size]){
    background-image: url("/arrows/dropdown.webp");
    background-size:12px 7px;

  }
}


@import './components/buttons';
//Loader
.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid rgb(255,255,255,0.3);
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

//Items
.item-name{
  background: $lightestGray;
  padding:12px 24px;
}

//Input
input{
  border:none;
  outline: none;

  &:focus{
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  &:active{
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

//Navbar
.navbar{
  box-shadow: 0px 4px 25px 0px #00000008;
  padding:11px 6px;
  max-height: 72px;
}

//Dropdown Box
.dropdown-box{
  min-width: 124px;
  height:auto;
  // transform:translate(-5px,65px);
  z-index:99;
  border-radius: 8px;
  padding:10px 14px;
  display: flex;
  flex-direction: column;
  gap:10px;
  background: $white;
  box-shadow: 0px 4px 15px 0px #0000000D;
  opacity:1;
  z-index: 9999;
}


//Banners
.order-now-banner{
  position: relative;
  width:100%;
  background: $secondaryYellow;
  height:397px;
  display: flex;
  border-radius: 16px;
  border:1px solid $secondaryYellow;
}

//Input Group
.input-group{
  border:1px solid $offWhitePrimary;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  gap:10px;
  padding:14px 8px;

  input{
    width: -webkit-fill-available;
  }
}
.input-error{
  border-color: $primary;

}

//Footer
.footer{
  box-shadow: 4px 0px 15px 0px #00000008;
  padding:24px;
  background: #FAFAFA;
}

.active-nav{
  // border-bottom:4px solid #B42318;
  &::after {
    content: "";
    display: inline-block;
    bottom:-6px;
    left:-2px;
    position: absolute;
    width: calc(100% + 30%);
    height: 4px;
    border-radius: 50px;
    background-color: $primary;
  }
}



//active sidebar 
.active-sidebar{
  color:$primary;
  padding-left:6px;
  &::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:-6px;
    left:0;
    height:44px;
    width:3px;
    border-radius:50px;
    background-color: $primary;
  }
}
.item-number{
  padding-left:4px;
  border-radius:100%;
  background-color: $primary;
  width:24px;
  height:24px;
  color:$white;
}

//Search Bar
.search-bar{
  height:48px;
  padding:0px 16px;
  display: flex;
  flex-direction: row;
  gap:4px;
  border: 1px solid $offWhitePrimary;
  border-radius:8px;
  align-items: center;

  input{
    width: -webkit-fill-available;
  }
}

// Quantity Update Input
.input-quantity{
  border: 1px solid $offWhitePrimary;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
  width:124px;
  display: flex;
  padding:8px;
  align-items: center;
  justify-content: space-between;

  input{
    width: 24px;
    height:16px;
    color: $secondary;
  }


}

//filters
.filter-box{
  display: flex;
  flex-direction: row;
  gap:8px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border:1px solid $offWhitePrimary;
  width: fit-content;
  border-radius: 30px;
}

.active-filter-box{
  background-color:$lightestRed;
}

.category-filter{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3.87px 7.75px 0px #1018280D;
  border:3.8px solid $offWhitePrimary;
  border-radius: 30px;
  p:not(:last-child){
    border-right-width: 3.8px;
    border-right-color: $offWhitePrimary;
    border-right-style: solid;
  }
  p{
    
  }
}

//Hamburger
.hamburger{
  width:18px;
  height:12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  span{
    background-color: $primary;
    border-radius: 5px;
    height: 2px;
    width:100%;
  }
}


// Quantity Update Input
.people-input-quantity{
  border: 1px solid $offWhitePrimary;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
  width:55px;
  display: flex;
  padding:8px;
  align-items: center;
  justify-content: center;
  input{
    width:24px
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

//Large Screen
@media screen and (max-width:1440px){ 
  
}

//Medium-Large Screen
@media screen and (max-width:1280px){ 
  
}

//Medium Screen
@media screen and (max-width:1000px){ 
  
}
//Tablet Screen
@media screen and (max-width:786px){
  //active nav mobile
.active-nav-mobile{
  color:$primary;
  padding-left:6px;
  &::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:-1px;
    left:0;
    height:24px;
    width:1px;
    border-radius:50px;
    background-color: $primary;
  }
}
  ::-webkit-scrollbar{
    width:4px
  }
    //Banners
  .order-now-banner{
    height:130px;
  }
 
}
//Small screen
@media screen and (max-width:368px){
  .input-quantity{
   padding:6px;
   width:100px;
  }
  
}

