@tailwind base;
@tailwind components;
@tailwind utilities;
@import './components/variables';
@import './common/background';
@import './common/font';
@import './common/decorations';


@layer components {
  .page-spacing {
    @apply px-[20px] lg:px-[128px]  flex flex-col justify-center;
  }
}

body{
  font-family: $primaryFont;
  color:$primaryTextColor;
}

@import './components/buttons';

//Navbar
.navbar{
  box-shadow: 0px 4px 25px 0px #00000008;
  padding:11px 6px;
  max-height: 72px;
}



//Banners
.order-now-banner{
  position: relative;
  width:100%;
  background: $secondaryYellow;
  height:397px;
  display: flex;
  border-radius: 16px;
  border:1px solid $secondaryYellow;
}

//Input Group
.input-group{
  border:1px solid $offWhitePrimary;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  gap:10px;
  padding:14px 8px;

  input{
    border:none;
    outline: none;
    width: -webkit-fill-available;
    &:focus{
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}
.input-error{
  border-color: $primary;
}

//Footer
.footer{
  box-shadow: 4px 0px 15px 0px #00000008;
  padding:24px;
  background: #FAFAFA;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

//Large Screen
@media screen and (max-width:1440px){ 
  
}

//Medium-Large Screen
@media screen and (max-width:1280px){ 
  
}

//Medium Screen
@media screen and (max-width:1000px){ 
  
}
//Tablet Screen
@media screen and (max-width:786px){
  
}