@tailwind base;
@tailwind components;
@tailwind utilities;
@import './components/variables';
@import './common/background';
@import './common/font';
@import './common/decorations';


@layer components {
  .page-spacing {
    @apply px-[20px] md:px-[40px] lg:px-[128px]  flex flex-col justify-center;
  }
  .active-path{
    @apply font-medium border-solid border-b-[1px] border-[#fff]
  }
  .absolute-center{
    @apply absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] 
  }
}
  //Scrollbar
// ::-webkit-scrollbar{
//   width:8px;
// }
// ::-webkit-scrollbar-thumb {
//   background: $lightGray;
  
//   border-radius: 8px;
// }
// ::-webkit-scrollbar{
//   width:4px;
// }
// ::-webkit-scrollbar-thumb {
//   background: $lightGray;
//   // background-clip: padding-box;
//   border-radius: 8px;
// }
// .horizontal-scroll-div{
//   ::-webkit-scrollbar{
//     width:1px;
//   }
//   ::-webkit-scrollbar-thumb {
//     background: $lightGray;
//     background-clip: padding-box;
//     border-radius: 8px;
//   }
//   ::-webkit-scrollbar-track {
//    background: transparent;
//   }
// }

.scroll-body{
   ::-webkit-scrollbar{
    width:1px;
  }
  ::-webkit-scrollbar-thumb {
    background: $lightGray;
    background-clip: padding-box;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
   background: transparent;
  }
}

body{
  font-family: $primaryFont;
  color:$primaryTextColor;


}

.active-setting{
  color:$primary;
  border-bottom: 2px solid $primary;
}
.select-box{
  appearance: none;
  border:1px solid $offWhitePrimary;
  border-radius:8px;
  padding:16px 8px;
  &:not([size]){
    background-image: url("/arrows/dropdown.webp");
    background-size:12px 7px;

  }
}


@import './components/buttons';
//Loader
.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid rgb(255,255,255,0.3);
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.primary-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.primary-loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 4px solid $primary;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

//Items
.item-name{
  background: $lightestGray;
  padding:12px 24px;
}

//ADDRESS CARD
.address-card{
  border: 1px solid;
  border-color: rgba(168, 168, 173, 0.5);
  border-radius: 8px 8px 0px 0px;

}
.address-model{
  box-shadow: 0px 8px 8px -4px #10182808;

box-shadow: 0px 20px 24px -4px #10182814;

}
//Input
input{
  border:none;
  outline: none;

  &:focus{
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  &:active{
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

//Navbar
.navbar{
  padding:11px 6px;
  max-height: 72px;
}

//Dropdown Box
.dropdown-box{
  min-width: 124px;
  height:auto;
  // transform:translate(-5px,65px);
  z-index:99;
  border-radius: 8px;
  padding:10px 14px;
  display: flex;
  flex-direction: column;
  gap:10px;
  background: $white;
  box-shadow: 0px 4px 15px 0px #0000000D;
  opacity:1;
  z-index: 9999;
}
.menu-box{
  min-width: 124px;
  height:auto;
  // transform:translate(-5px,65px);
  z-index:99;
  border-radius: 8px;
  padding:6px 14px !important;
  display: flex;
  flex-direction: column;
  gap:10px;
  background: $white;
  box-shadow: 0px 4px 15px 0px #0000000D;
  opacity:1;
  z-index: 9999;
}
.menu-box{
  min-width: 124px;
  height:auto;
  // transform:translate(-5px,65px);
  z-index:99;
  border-radius: 8px;
  padding:10px 14px;
  display: flex;
  flex-direction: column;
  gap:6px;
  background: $white;
  box-shadow: 0px 4px 15px 0px #0000000D;
  opacity:1;
  z-index: 9999;
}


//Banners
.order-now-banner{
  position: relative;
  width:100%;
  background: $secondaryYellow;
  height:397px;
  display: flex;
  border-radius: 16px;
  border:1px solid $secondaryYellow;
}
//Input Group
.input-container{
  overflow: hidden;
  border:1px solid #E3E5E5;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap:4px;

  input{
    width: -webkit-fill-available;
    padding:12px 0px 12px 8px;
    // 16px, 0px, 16px, 8px
  }
}

//Input Group
.input-group{
  border:1px solid $offWhitePrimary;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  gap:10px;
  padding:14px 8px;

  input{
    width: -webkit-fill-available;
  }
}
.input-error{
  border-color: $primary;

}

//Footer
.footer{
  box-shadow: 4px 0px 15px 0px #00000008;
  padding:24px;
  background: #FAFAFA;
}

.active-nav{
  // border-bottom:4px solid #B42318;
  &::after {
    content: "";
    display: inline-block;
    bottom:-6px;
    left:-2px;
    position: absolute;
    width: calc(100% + 30%);
    height: 4px;
    border-radius: 50px;
    background-color: $primary;
  }
}


.sidebar{
  &::before{
    position: absolute;
    content: "";
    inset: 0; 
    background-image: linear-gradient(90deg, rgba(180, 35, 24, 0.15) 0%, rgba(180, 35, 24, 0) 100%);
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
 
}
//orders page
.order-status-line{
  &::after{
    position: absolute;
    content: " ";
    display: inline;
    background-color: #EAECF0;
    width: calc(100% - 60px);
    height: 2px;
    top:15px;
    left:35px;
    z-index: 10;
  }
}
@media screen and (max-width:786px) {
  .order-status-line{
    &::after{
      left:15px;
      top:10px;
      height:calc(100% - 10px);
      width:2px;
    }
  }
}

.order_status{
  width: 32px;
  height: 32px;
  z-index: 15;
  border-radius: 50px;
  background: #F2F4F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_prev_checked{
  background-color: $primary;
  &::after{
    content: "";
    top:50%;
    left:100%;
    transform: translateY(-50%);
    height: 2px;
    position: absolute;
    background-color: $primary;
    // width: 100%;
  }
}
.order_current_checked{
  background-color: $primary;
  box-shadow: 0px 0px 0px 4px #F4EBFF;

}
.inner_white_circle{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

//toaster
.toaster {
  min-width: 250px;
  border-radius:8px;
  background: #F6FEF9;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 8px 0px;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  bottom:30px;
  font-size: 16px;
  gap:12px;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
.toaster-success{
  border:1px solid #6CE9A6;
  p{

    color:#027A48 !important;
  }
}
.toaster-error{
  border:1px solid #FDA29B;
  p{

    color:$primary !important
  }
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

//active sidebar 
.active-sidebar{
  color:$primary;
  padding-left:6px;
  // background-image: linear-gradient(90deg, rgba(180, 35, 24, 0.15) 0%, rgba(180, 35, 24, 0) 100%);
  &::before{
    opacity:1 !important;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  
  &::after{
    content: "";
    display: inline-block;
    position: absolute;
    // top:0px;
    left:0;
    height:-webkit-fill-available;
    width:2px;
    border-radius:50px;
    background-color: $primary;
  }
}
.item-number{
  border-radius:100%;
  background-color: $primary;
  width:24px !important;
  height:24px !important;
  color:$white;
}

//Search Bar
.search-bar{
  height:48px;
  padding:0px 16px;
  display: flex;
  flex-direction: row;
  gap:4px;
  border: 1px solid $offWhitePrimary;
  border-radius:8px;
  align-items: center;

  input{
    width: -webkit-fill-available;
  }
}

.search-box{
  position: absolute;
  top:48px;
  left:0;
  background-color: #fff;
  width:-webkit-fill-available;
  z-index:99;
  ::-webkit-scrollbar{
    width:6px;
  }
  ::-webkit-scrollbar-thumb {
    background: $lightGray;
    background-clip: padding-box;
    border-radius: 8px;
    
  }
  ::-webkit-scrollbar-track {
   background: #E3E5E5;
   border-radius: 8px;
   margin: 4px;
  }
}
.items-section{
  ::-webkit-scrollbar{
    width:6px;
  }
  ::-webkit-scrollbar-thumb {
    background: $lightGray;
    background-clip: padding-box;
    border-radius: 8px;
    
  }
  ::-webkit-scrollbar-track {
   background: #E3E5E5;
   border-radius: 8px;
   margin: 4px;
  }
}

// Quantity Update Input
.input-quantity{
  border: 1px solid $offWhitePrimary;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
  width:128px;
  display: flex;
  padding:8px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  label{
    min-width: 24px;
    height:16px;
    color: $secondary;
  }


}
//Package card
.package-card{
  padding-top:16px;
  border-radius:8px;
  box-shadow:none;
  transition: box-shadow 0.3s ease;
  &:hover{
    box-shadow: 0px 2px 16px 0px #00000026;
    border:1px solid $offWhitePrimary;
    transition: box-shadow  0.3s ease;
  }
}

//filters
.filter-box{
  display: flex;
  flex-direction: row;
  gap:8px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border:1px solid #D0D5DD;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

.active-filter-box{
  background-color:$lightestRed;
  border-color:$primary;
}

.category-filter{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3.87px 7.75px 0px #1018280D;

  border:1px solid $offWhitePrimary;
  border-radius: 9999px;
}

//Hamburger
.hamburger{
  width:18px;
  height:14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  span{
    background-color: #fff;
    border-radius: 5px;
    height: 2px;
    width:100%;
  }
  span:nth-child(2){
    width:70%
  }
}

//Common
.information-box{
  border:1px solid #E3E5E5;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding:12px 16px;
  gap:10px;
  align-items: center;
}


// Quantity Update Input
.people-input-quantity{
  border: 1px solid $offWhitePrimary;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
  width:55px;
  display: flex;
  padding:8px;
  align-items: center;
  justify-content: center;
  input{
    width:24px
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

//Large Screen
@media screen and (max-width:1440px){ 
  
}

//Medium-Large Screen
@media screen and (max-width:1280px){ 
  
}

//Medium Screen
@media screen and (max-width:1000px){ 
  
}
//Tablet Screen
@media screen and (max-width:786px){
//active sidebar 
.active-sidebar{
  &::after{
    height:100%;
  }
}
  .input-quantity{
    width:fit-content;
  }
  //active nav mobile
.active-nav-mobile{
  color:$primary;
  padding-left:6px;
  &::after{
    content: "";
    display: inline-block;
    position: absolute;
    top:-1px;
    left:0;
    height:24px;
    width:1px;
    border-radius:50px;
    background-color: $primary;
  }
}
  ::-webkit-scrollbar{
    width:4px
  }
    //Banners
  .order-now-banner{
    height:130px;
  }
 
}
//Small screen
@media screen and (max-width:368px){
  // .input-quantity{
  //  padding:6px;
  //  width:100px;
  // }
  .search-bar{
    padding:0px 10px;
  }
}

